.hero {
  display: flex;
  position: relative;
  background: url('/background.png') no-repeat center center/cover;
  min-height: 100vh;
  color: white;
  padding: 6.25rem 3.75rem 0 3.75rem;
  box-sizing: border-box;
}
.hero::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.hero-left h1 {
  font-size: 4.5rem;
  
}

.hero-left p {
  margin-top: 1.25rem;
  font-size: 1.125rem;
}

a{
  color: white;
}
.explore-button {
  margin-top: 1.875rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #780000;
  border: none;
  border-radius: 1.25rem;
  cursor: pointer;
}
.explore-button:hover{
  background-color: #fff;
}
.explore-button:hover a{
  color:#780000;
}

.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
